# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

meassurement.pdf
EHS.elf
GDBgui-desktop.bat
GDBgui.bat
log.txt
todo.txt
__pycache__/